<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <p>Hi <%=@user.first_name %>,<br/></p>

  <p>
    Someone has requested to change your password. You can do this through the link below:
    <br/>
    <br/>
    <a href="<%=@change_password_link%>" target="_blank"><%=@change_password_link%></a>
    <br/>
    <br/>
    If you didn't request this, please ignore this email. Your password won't change until you access the link above and create a new one.
  </p>

  <br/> Regards, <br/>
  </body>
</html>
